// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#A2A5AB;
$menuActiveText:#0F2552;
$subMenuActiveText:#0F2552; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#F0F5FE;
$menuHover:#E7F2FE;

$subMenuBg:#F0F5FE;
$subMenuHover:#E7F2FE;

$hightline: #85D8FC;

$sideBarWidth: 210px;

// top-menu
$topMenuText:#A2A5AB;
$topMenuActiveText:#0F2552;
$topSubMenuActiveText:#0F2552; // https://github.com/ElemeFE/element/issues/12951

$topMenuBg:#fff;
$topMenuHover:rgba(0, 0, 0, .025);

$topSubMenuBg:#fff;
$topSubMenuHover:rgba(0, 0, 0, .025);

$topHightline: #85D8FC;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  hightline: $hightline;
  topMenuText: $topMenuText;
  topMenuActiveText: $topMenuActiveText;
  topSubMenuActiveText: $topSubMenuActiveText;
  topMenuBg: $topMenuBg;
  topMenuHover: $topMenuHover;
  topSubMenuBg: $topSubMenuBg;
  topSubMenuHover: $topSubMenuHover;
  topHightline: $topHightline;
}
